{% if data.mastermind_game is defined %}
<div class="p-2 d-flex flex-column justify-content-around h-100 fs-5">
    <div class="d-flex justify-content-evenly">
        <div>
            <strong>Game:</strong>
            {{ data.status }}
        </div>
        <div>
            <strong>Multi color:</strong>
            {% if data.mastermind_game.multi_color %}
            Enabled
            {% else %}
            Disabled
            {% endif %}
        </div>
        <div>
            <strong>Amount of Color:</strong>
            {{ data.mastermind_game.amount_color }}
        </div>
        <div>
            <strong>Amount of Position:</strong>
            {{ data.mastermind_game.board.positions }}
        </div>
    </div>
    <div class="d-flex justify-content-evenly">
        <div>
            <strong>Player: </strong>
            {% if data.mastermind_game.player %}
            {{ data.mastermind_game.player.name }}
            {% else %}
            Player is not loaded
            {% endif %}
        </div>
        <div>
            <strong>Amount played: </strong>
            {% if data.mastermind_game.player %}
            {{ data.mastermind_game.player.played }}
            {% else %}
            Unknown
            {% endif %}
        </div>
        <div>
            <strong>Cheat: </strong>
            {% if data.cheat_enabled %}
            Enabled
            {% else %}
            Disabled
            {% endif %}
        </div>
    </div>
</div>
{% endif %}