{% extends "layouts/default.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {% include 'components/play-board.html' %}
    </div>
    <div class="col">
        {% include 'components/history-board.html' %}
    </div>
</div>

<div>
    {% if data.cheat_enabled %}
    {% include 'components/cheat-board.html' %}
    {% else %}
    <a href="game/enable-cheat" class="btn btn-outline-secondary"> Enable cheat </a>
    {% endif %}
</div>

<script src="{{ url_for('static', filename='js/select-drop.js') }}"></script>

{% endblock %}