{% extends "layouts/default.html" %}
{% block content %}
    <div class="fs-1 fw-bold">Leaderboard</div>
<div class="overflow-auto leaderboard-panel">
    <table class="table table-dark table-hover" id="sortTable">
      <thead>
        <th scope="col">Username</th>
        <th scope="col">Amount of turns</th>
        <th scope="col">Cheated?</th>
        <th scope="col">Playdate</th>
        </tr>
      </thead>
      <tbody>
        {% for game in data.all_games %}
        <tr>
          <td>{{ game["player"] }}</td>
          <td>{{ game["finished_turn"] }}</td>
          <td>{{ game["cheated"] }}</td>
          <td>{{ game["datetime"] }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}