{% extends "layouts/default.html" %}
{% block content %}
<div class="d-flex w-100 justify-content-center align-items-center">
    <div class="h-auto w-50 border p-5 d-flex flex-column bg-light">
        <form action="load-username" method="get">
            <label for="usernameInput" class="form-label text-center w-100">
                <h1>Type your username</h1>
            </label>
            <input type="text" id="usernameInput" name="username" class="form-control">
            <button class="btn btn-primary btn-lg mt-5 w-100">Load</button>
        </form>
    </div>
</div>
{% endblock %}