{% extends "layouts/default.html" %}
{% block content %}
<div class="d-flex w-100 justify-content-center align-items-center">
    <div class="h-auto w-50 border p-5 d-flex flex-column bg-light">
        <h1  class="text-center w-100 mb-3">Settings</h1>

        <form action="save-setting" method="get">
            <div class="mb-3">
                <label for="amountColorInput" class="form-label fs-3">Amount of color</label>
                <input type="number" name="colors" class="form-control text-center" id="amountColorInput">
            </div>

            <div class="mb-3">
                <label for="amountPositionInput" class="form-label fs-3">Amount of Position</label>
                <input type="number" name="positions" class="form-control text-center" id="amountPositionInput">
            </div>

            <div class="form-check form-switch ps-0 d-flex align-items-center align-self-center">
                <input class="form-check-input ms-0 mt-0 me-3" name="isMultiColor" type="checkbox" id="flexSwitchCheckMultiColor">
                <label class="form-check-label fs-3" for="flexSwitchCheckMultiColor">Disabled switch checkbox input</label>
            </div>

            <button class="btn btn-primary btn-lg mt-5 w-100">Save setting</button>
        </form>
    </div>
</div>
{% endblock %}