body {
    background-color: grey;
    overflow: hidden;
}

input {
    font-size: 36px !important;
    text-align: center;
}

.footer {
    height: 12vh;
}

.game-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-evenly;

}

.game-menu-button {
    text-decoration: none;
    background-color: white;
    color: #5c636a;
    border: 5px solid #6c757d;
    border-radius: 25px;
    margin-top: 10%;
    text-align: center;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.game-menu-button:hover {
    color: white;
    background-color: #5c636a;

    border: 5px solid #6c757d;
}

.platform {
    height: 80vh;
}

.platform>div {
    height: 100%;
}

/* game section */
/* ['blue', 'red', 'purple', 'yellow', 'green', 'orange', 'aqua', 'navy', 'pink', 'brown'] */
.g-blue {
    background-color: blue;
}

.g-red {
    background-color: red;
}

.g-purple {
    background-color: purple;
}

.g-yellow {
    background-color: yellow;
}

.g-green {
    background-color: green;
}

.g-orange {
    background-color: orange;
}

.g-aqua {
    background-color: aqua;
}

.g-navy {
    background-color: navy;
}

.g-pink {
    background-color: pink;
}

.g-brown {
    background-color: brown;
}

.g-black {
    background-color: black;
}

.g-white {
    background-color: white;
}

.game-block {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected-block {
    border: 15px double black;
}

.pin {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.leaderboard-panel {
    max-height: 85%;
}