body {
    background-color: grey;
}

.game-menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-evenly;
  
}

.game-menu-button {
    text-decoration: none;
    background-color: white;
    color: #5c636a;
    border: 5px solid #6c757d;
    border-radius: 25px;
    margin-top: 10%;
    text-align: center;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

.game-menu-button:hover {
    color: white;
    background-color: #5c636a;
 
    border: 5px solid #6c757d;
}

.platform {
    height: 80vh;
}

.platform div {
    height: 100%;
}